/.ikiwiki
/.perltidyrc
/Tests/case-insense-file-collision.t
/Tests/data/cache/vnu-html-validator.json
/Tests/scss.t
/Tests/spell-check-is-sorted.t
/Tests/tidyall.t
/bin/Run-YUI-Compressor
/bin/add-css-classes-using-jquery.js
/bin/batch-inplace-html-minifier
/bin/clean-up-docbook-xhtml-1.1.xslt
/bin/common-required-deps.yml
/bin/extract-spelling-errors.pl
/bin/gen-rpm-for-build-deps
/bin/html-min-cli-config-file.conf
/bin/sort-check-spelling-file
/bin/spell-checker-iface
/bin/spell.bash
/bin/translate-Vered-XML
/eslint-ts.json
/github-markdown-toc/
/lib/HTML/Latemp/DocBook/DocsList.pm
/lib/HTML/Latemp/DocBook/EndFormats.pm
/lib/HTML/Latemp/DocBook/GenMake.pm
/lib/HTML/Latemp/GenDeps.pm
/lib/HTML/Latemp/GenDepsTT2.pm
/lib/HTML/Latemp/GenWmlHSects.pm
/lib/Inc/cpan_dists.wml
/lib/Inc/html5-shims.wml
/lib/Shlomif/Spelling/Check.pm
/lib/Shlomif/Spelling/Iface.pm
/lib/Shlomif/Spelling/Whitelist.pm
/lib/h_sections.tt2
/lib/make/build-deps/build-deps.mak
/lib/make/docbook/sf-docbook-common-docbook4.mak
/lib/make/docbook/sf-docbook-common.mak
/lib/make/docbook/sf-homepage-docbook-gen.tt
/lib/make/shlomif_common.mak
/lib/sgml/docbook-css/docbook-css-0.4/COPYING
/lib/sgml/docbook-css/docbook-css-0.4/CREDITS
/lib/sgml/docbook-css/docbook-css-0.4/core.css
/lib/sgml/docbook-css/docbook-css-0.4/db-bindings.xml
/lib/sgml/docbook-css/docbook-css-0.4/driver.css
/lib/sgml/docbook-css/docbook-css-0.4/l10n.css
/lib/sgml/docbook-css/docbook-css-0.4/l10n/de.css
/lib/sgml/docbook-css/docbook-css-0.4/l10n/en.css
/lib/sgml/docbook-css/docbook-css-0.4/l10n/es.css
/lib/sgml/docbook-css/docbook-css-0.4/l10n/pl.css
/lib/sgml/docbook-css/docbook-css-0.4/mozilla.css
/lib/sgml/docbook-css/docbook-css-0.4/opera.css
/lib/sgml/docbook-css/docbook-css-0.4/styles.css
/lib/sgml/docbook-css/docbook-css-0.4/tables.css
/lib/sgml/relax-ng/catalog.xml
/lib/sgml/relax-ng/docbook.rng
/lib/sgml/shlomif-docbook/docbook-epub-preproc.xslt
/lib/sgml/shlomif-docbook/dsssl-stylesheets/jadetex.cfg
/lib/sgml/shlomif-docbook/dsssl-stylesheets/shlomif-essays.dsl
/lib/sgml/shlomif-docbook/xsl-5-stylesheets/rejects.xsl
/lib/sgml/shlomif-docbook/xsl-5-stylesheets/shlomif-essays-5-fo.xsl
/lib/sgml/shlomif-docbook/xsl-5-stylesheets/shlomif-essays-5-xhtml-common.xsl
/lib/sgml/shlomif-docbook/xsl-5-stylesheets/shlomif-essays-5-xhtml-onechunk.xsl
/lib/sgml/shlomif-docbook/xsl-5-stylesheets/shlomif-essays-5-xhtml.xsl
/lib/sgml/shlomif-docbook/xsl-5-stylesheets/shlomif-essays-5.xsl
/lib/sgml/shlomif-docbook/xsl-stylesheets/rejects.xsl
/lib/sgml/shlomif-docbook/xsl-stylesheets/shlomif-essays-fo.xsl
/lib/sgml/shlomif-docbook/xsl-stylesheets/shlomif-essays-xhtml-onechunk.xsl
/lib/sgml/shlomif-docbook/xsl-stylesheets/shlomif-essays-xhtml.xsl
/lib/sgml/shlomif-docbook/xsl-stylesheets/shlomif-essays.xsl
/lib/sgml/shlomif-docbook/xsl-stylesheets/style.css
/t/lib/__pycache__/html_unit_test.cpython-312.pyc
/xhtml-faq/index.xhtml
